@tailwind components;
@tailwind utilities;
$headings-font-weight: 500;
$h1-font-size: 2.625rem; // 42px
$h2-font-size: 1.625rem; // 26px
$h3-font-size: 1.5rem; // 24px
$h4-font-size: 1.25rem; // 20px
$h5-font-size: 1.125rem; // 18px

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  p, ul {
    margin-top: 0;
    font-size: 1.25rem;
  }
  h1 {
    font-size: $h1-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.07;
    letter-spacing: -0.01em;
  }
  h2 {
    font-size: $h2-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.07;
    letter-spacing: -0.02em;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  h4 {
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: $h5-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }
}


a {
  color: #416cad;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}